/*
=========================================
	CSS for Affordable In-Home TV Service
=========================================
*/


/*

===================================================================================================
	SKELETON.PHP ELEMENTS

	HTML, BODY: General text styles, color, background color, and page padding;
	PAGE CONTAINER: formatting of area where all content will reside;
	HEADERBAR: Area where website banner resides;
	HEADERBAR IMAGE: Formatting for actual banner image;
	RIGHT BANNER: Moves div to the right screen and allows for formatting of navigation buttons;
	SIDEBUTTONS: Formats the navigation buttons themselves;
	BUTTON LINKS: Determines the link attributes of the navigation buttons;
===================================================================================================

*/


html, body{
	font-family: arial rounded, Tahoma, sans serif;
	color: #c0c0c0;
	margin: 0;
	background-color: #131313;
	padding: 0.063em;
}

#pagecontainer{
	width: 78.750em;
	height: auto;
	margin: auto;
	background-color: #252525;
	border: 0.063em solid #2e8898;
	border-radius: 0.938em;
}

#headerbar{
	height: 13.5em;
}

#headerbarImage{
	position: relative;
	border-top: 0px solid black;
	border-radius: 0.938em 0.938em 0 0;
	width: 100%;
}

#rightbanner{
	position: relative;
	float: right;
	padding-left: 1.8em;
}

.sidebuttons{
	position: relative;
	width: 9.476em;
	text-align: center;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	font-size: 21px;
	opacity: .5;
	border-top: 0.048em solid #2e8898;
	border-left: 0.048em solid #2e8898;
	border-bottom: 0.048em solid #2e8898;
	border-right: 0.048em solid #2e8898;
}

a.buttonlinks:link{text-decoration: none; color: #2e8898; display: block; height: 100%;}
a.buttonlinks:visited{color: #2e8898;}


/*

============================================================================
	HOME.PHP ELEMENTS

	MAIN CONTENT HOME: Sets formatting for main content area of Home page;
		h1: Sets color of header;
		p: Formatting for paragraph text;
============================================================================

*/


#maincontentHome{
	text-align: justify;
	margin: 0;
	padding-left: 1.5em;
	border-top: 1px solid #2e8898;
}

#maincontentHome h1 {
	color: white;
}

#maincontentHome p {
	font-size: 21px;
	padding-top: 1em;
	padding-bottom: 1em;
}


/*

=========================================================================================
	ESTIMATES.PHP ELEMENTS

	MAIN CONTENT ESTIMATES: Sets formatting for main content area of Estimates page;
		h2: Sets padding for header;
==========================================================================================

*/


#maincontentEstimates {
	text-align: justify;
	margin: 0;
	padding-left: 1.5em;
	border-top: 1px solid #2e8898;
}

#maincontentEstimates h2{
	padding-bottom: 1em;
}


/*

==================================================================================
	MODELS.PHP ELEMENTS

	MAIN CONTENT MODELS: Sets formatting fr main content area of Models page;
		h2: Sets padding for header;
		p: Formatting for paragraphs of Models page;
==================================================================================

*/


#maincontentModels{
	text-align: justify;
	margin: 0;
	padding-left: 1.5em;
	border-top: 1px solid #2e8898;
}

#maincontentModels h2{
	padding-bottom: 1em;
}

#maincontentModels p{
	font-size: 18px;
	padding-bottom: 1em;
}


/*

==================================================================================
	ABOUT.PHP ELEMENTS

	MAIN CONTENT ABOUT: Sets formatting fr main content area of About page;
		p: Formatting for paragraphs of Models page;
==================================================================================

*/


#maincontentAbout{
	text-align: justify;
	margin: 0;
	padding-left: 1.5em;
	border-top: 1px solid #2e8898;
}

#maincontentAbout p{
	font-size: 18px;
}


/*

=================================================================================
	ASK.PHP ELEMENTS

	MAIN CONTENT ASK: The main content formatting of the Ask page;
	ASK HEADER: Sets padding for the first line of the ask form;
	ASK FORM
		h2: Sets padding for the line that appears after an email has been sent;
	NAME BOX: Sets formatting for the Name input field of the ask form;
	EMAIL BOX: Sets formatting for the Email input field of the ask form;
=================================================================================

*/


#maincontentAsk{
	text-align: justify;
	margin: 0;
	padding-left: 1.5em;
	border-top: 1px solid #2e8898;
}

#askheader{
	padding-bottom: .5em;
}

#askform h2{
	padding: .4em;
}

#namebox{
	margin-left: 1.11em;
	margin-bottom: 1em;
}

#emailbox{
	margin-left: 1.3em;
	margin-bottom: 1em;
}


/*

==================================================================================
	FOOTER.PHP ELEMENTS

	FOOTER: Sets content of footer area on the bottom of the website;
==================================================================================

*/

#footer{
	clear: both;
-	height: 6em;
	border-top: 1px solid #2e8898;
	padding: 1em;
}