html, body{
	font-family: Crete Round, Tahoma, sans serif;
	margin: 0;
	padding: 1px;
}

#pagecontainer{
	width: 78.750em;
	height: auto;
	margin: auto;
	border: 1px solid blue;
	border-radius: 15px;
}

#headerbar{
	height: 12.5em;
}

#headerbarImage{
	position: relative;
	border-top: 0px solid black;
	border-radius: 15px 15px 0 0;
	width: 100%;
}

#buttonText{
	position: absolute;
	font-size: 42px;
	text-shadow: black 1.5px 1.5px;
	top: 10px;
	padding-left: 1.1em;
}

a.headerbutton:link{text-decoration: none; color: red; text-shadow: black;}
a.headerbutton:visited{color: #a6a29f; text-shadow: black;}

#numberText{
	position: absolute;
	top: 125px;
	left: 475px;
	color: white;
	text-shadow: -1.5px 0 #a6a29f, 0 1.5px #a6a29f, 1.5px 0 #a6a29f, 0 -1.5px #a6a29f;
	padding-right: .8em;
}

#slogan{
	position: absolute;
	top: 70px;
	font-size: 33px;
	color: white;
	text-shadow: -1.5px 0 #a6a29f, 0 1.5px #a6a29f, 1.5px 0 #a6a29f, 0 -1.5px #a6a29f;
	padding-left: 3em;
}

#rightbanner{
	float: right;
	width: 12.5em;
	height: 41.250em;
}

.sidebuttons{
	text-align: center;
	padding-top: 4.5em;
	padding-bottom: 4.45em;
	border-top: 1px solid blue;
	border-left: 1px solid blue;
}

a.buttonlinks:link{text-decoration: none;}
a.buttonlinks:visited{color: blue;}
a.buttonlinks:hover{color: gray;}

#questionbox{
	resize: none;
	padding-right: .7em;
}

#askform{
	padding-left: .5em;
}

#namespace{
	margin-left: 7.9em;
	margin-bottom: 1em;
}

#numspace{
	margin-left: 3em;
	margin-bottom: 1em;
}

#maincontent{
	margin-right: 12.5em;
	height: 41.250em;
	margin: 0;
	padding: 0;
	border-top: 1px solid blue;
}

#maincontent p {
	margin-top: 0;
	padding-top: 2em;
	margin-left: .5em;
}

#numfont{
	font-family: Arial;
}

#footer{
	clear: both;
	height: 6em;
	border-top: 1px solid blue;
}