html, body{
	font-family: Crete Round, Verdana, sans serif;
	margin: 0;
	padding: 1px;
}

#pagecontainer{
	width: 78.750em;
	height: auto;
	margin: auto;
	border: 1px solid blue;
	border-radius: 15px;
}

#headerbar{
	height: 12.5em;
}

#headerbar h1:first-child{
	font-size: 50px;
	margin: 0;
	padding-top: 1em;
	padding-left: .3em;
}

a.headerbutton:link{text-decoration: none; color: black;}
a.headerbutton:visited{color: black;}

#headerbar  h1:nth-child(2){
	float: right;
	padding-right: .8em;
}

#headerbar h2{
	margin: 0;
	padding-top: 1em;
	padding-left: .8em;
}

#rightbanner{
	float: right;
	width: 12.5em;
	height: 41.250em;
}

.sidebuttons{
	text-align: center;
	padding-top: 4.5em;
	padding-bottom: 4.45em;
	border-top: 1px solid blue;
	border-left: 1px solid blue;
}

a.buttonlinks:link{text-decoration: none;}
a.buttonlinks:visited{color: red;}
a.buttonlinks:hover{color: gray;}



#maincontent{
	margin-right: 12.5em;
	height: 41.250em;
	margin: 0;
	padding: 0;
	border-top: 1px solid blue;
}

#maincontent p {
	margin-top: 0;
	padding-top: 2em;
	margin-left: .5em;
}

#numfont{
	font-family: Arial;
}

#footer{
	clear: both;
	height: 6em;
	border-top: 1px solid blue;
}